#formulario {
    padding: 50px 0;
  }

  .form-container {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .form-container h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #ffc107;
  }

  .form-control {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 5px #ffc107;
  }

  .btn-primary {
    background-color: #ffc107;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: #ffca28;
  }
  .mapa-container {
    position: relative;
    padding-top: 0;
    padding-bottom: 56.25%; 
    overflow: hidden;
  }

  .mapa-container .gmap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .horario {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; 
  }

  .horario h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    color: #ffc107;
  }

  .horario ul {
    list-style: none;
    padding: 0;
  }

  .horario ul li {
    margin-bottom: 10px;
  }

  .horario ul li strong {
    color: #ffc107;
  }

  /* Estilos para dispositivos móveis */
@media (max-width: 576px) {
  h1 {
    font-size: 1.5rem;
  }
  .form-label,
  .form-control {
    font-size: 0.9rem;
  }
  .btn {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
  .mapa-container {
   margin: 10px;
  }
  .horario {
    margin: 10px;
  }
  
}

/* Estilos para tablets */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  .form-label,
  .form-control {
    font-size: 1rem;
  }
  .btn {
    font-size: 0.9rem;
    margin-bottom: 10px;
  }

  .mapa-container {
    margin: 20px;
   }
   .horario {
    margin: 20px;
  }
  
}
