body{
    background-color:  rgba(255, 253, 219, 0.719);
}
.card{
    background-color: transparent;
}
.navbar {
    border-radius:  0px 0px 25px 25px; 
    padding: 20px 0; 
}

.amarelo{
    color: #ffc107;
}
.navbar-toggler {
    background-color: #ffc107; 
    border-color: transparent; 
    color: #fff; 
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none; 
    background-color: #ffca28; 
}

.branco{
    color: white;
}

.navbar-brand {
    font-size: 1.5rem; 
}

.nav-link {
   color: #ffffff; 
}

.nav-link:hover {
    color: #ffc107; 
}

.logo-img {
    width: 110px; 
    height: auto; 
    margin-right: 10px; 
}

.titulo-grande {
    font-size: 5rem; 
}

.titulo-medio {
    font-size: 3rem; 
}

.fonte-cursiva{
    font-family: 'Architects Daughter', cursive;
}

.fonte-normal{ 
    font-family: 'Merriweather', serif; 
}

.text-decoration-none {
    text-decoration: none !important; 
}

.social-icons img {
    width: 40px;
    height: 40px;
}

.text-yellow {
    color: #ffc107 !important; 
}

.text-yellow:hover {
    color: #ffca28 !important; 
}

.text-yellow:focus, .text-yellow:active {
    color: #ffc107 !important; 
}

.carousel-item img {
    height: 550px; 
    object-fit: cover; 
}


/* Para tablet */
@media (max-width: 768px) {
    .titulo-grande {
        font-size: 3.5rem; 
    }
    
    .titulo-medio {
        font-size: 2rem; 
    }

    .carousel-item img {
        height: 350px; 
    }
    .card{
        margin: 30px;
    }
    .card-title {
      font-size: 1rem;
    }
   
    .card-text {
      font-size: 0.9rem;
    }
    
    .col-md-4 {
      margin-bottom: 30px;
    }
    p{
        font-size: 0.9rem;
    }
}

/* Para dispositivos móveis */
@media (max-width: 576px) {
    .titulo-grande {
        font-size: 2.5rem; 
    }
    
    .titulo-medio {
        font-size: 1.5rem; 
    }

    .carousel-item img {
        height: 250px; 
    }
    .card{
        margin: 20px;
    }
    .card-title {
      font-size: 0.9rem;
    }
   
    .card-text {
      font-size: 0.8rem;
    }
    
    .col-md-4 {
      margin-bottom: 25px;
    }
    p{
        font-size: 0.9rem;
    }
}

  
